body, html{
	height: 100%;
}
body{
	background-color: #242a35;
	font-family: 'Oxygen', sans-serif;
	font-size: 100%;
	color: #fff;
	-webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    text-size-adjust: none;
}
*, *:before, *:after{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
	outline: 0;
}
img{
	width: 100%;
	height: auto;
}
.container{
	height: 100%;
}
.wrap-content {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-line-pack: center;
	align-content: center;
	align-items:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	height: inherit;
	min-width: 340px;
	width: calc(100% - 250px);
}
h1, .wrap-input{
	-ms-flex-preferred-size:100%;
    flex-basis:100%;
    text-align: center;
    margin-bottom: 0.5em;
}
.wrap-input input{
	padding: 1em 2em;
    background-color: #eba848;
    border-radius: 5px;
    border: 0;
    font-size: 1.3em;
    color: #fff;
    margin-top: 5em;
    border:3px solid #eba848;
    transition: background-color 0.3s;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.wrap-input input#new-game{
	margin-top: 2em;
}
.wrap-input input:hover{
	background-color:transparent;
}
h1{
    font-size:4em;
}
.wrap-item{
	width: 90%;
	text-align: center;

}
.wrap-item > div{
	width: 20%;
    display: inline-block;
    margin: 0 2%;
    cursor: pointer;
    transition: transform 0.3s;
}
.wrap-item > div:hover{
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}
.wrap-item > div.block{
	cursor: initial;
	-webkit-transform:initial;
	transform: initial;
}
.wrap-item span{
	font-size: 2em;
}
.score{
	position: fixed;
	width: 250px;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #191e27;
	padding: 3em 2em;
	font-size: 1em;
}

.score h2{
	margin-bottom: 1.5em;
}
.score > div{
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.score > div:last-child{
	border: 0;
	margin: 0;
	padding: 0;
}
.score > div > span{
	padding:0 5px;
}
.score h3{
	margin: 2em 0 0.5em;
}

@media only screen and (max-width: 1200px){

	.wrap-item {
		width: 75%;
	}

	.wrap-item > div{
		width: 40%; margin-bottom: 2em;
	}

}

@media only screen and (max-width: 900px){
	
	.wrap-item {
		width: 90%;
	}

	.wrap-item > div{
		width: 40%; margin-bottom: 2em;
	}
	h1{
		font-size:2em;
	}
	.wrap-item > div{
		transition: transform 0.3s;
	}
	.wrap-item > div:hover, .wrap-item > div.block:hover{
		-webkit-transform:initial;
		transform: initial;
	}
	.wrap-item > div.block{
		cursor: initial;
	}
	.score{
		position: static;
	    width: 100%;
	    height: auto;
	    padding: 2em 1em;
	    font-size: 1em;
	    text-align: center;
	}
	.score h2 {
	    margin-bottom: 0.5em;
	}
	.wrap-content{
		width: 100%;
		-ms-flex-line-pack: start;
		align-content: flex-start;
		margin-top: 3em;
		height: auto;
		margin-bottom: 6em;
	}
	.wrap-input input{
		margin-top: 1em;
	}

}